@{
    ViewData["Title"] = "Home Page";
}
<!--start landing section-->
<div class="landing">
 <div class="overlay">
     <div class="text">
            <div class="content">
                <h2>
                    Hello World!
                    We Are MagicTech We Make Art.
                </h2>
                <br />
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
         </div>
     </div>
 </div>

</div>
<!--end landing section-->
<!-- start services section-->
<div class="services">
   

    <div class="container">
        <!-- start main heading section-->

        <div class="main-heading">
            <h2>Services</h2>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit                         aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
            </p>
        </div>

        <!-- end main heading section-->
        <div class="serv-container">
            <div class="serv-box">
                <i class="fa-solid fa-desktop"></i>
                <div class="serv-text">
                    
                   <h3  >Vorem amet intuitive </h3>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit                         aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
                    </p>

                </div>
            </div>
            <div class="serv-box">
                <i class="fa-solid fa-gear"></i>
                 <div class="serv-text">

                     <h3>Vorem amet intuitive </h3>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit                         aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
                    </p>
                 </div>
             </div>

            <div class="serv-box">
                <i class="fa-solid fa-pen-ruler"></i>
                 <div class="serv-text">
                   
                   <h3>Vorem amet intuitive </h3>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit                         aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
                    </p>
                </div>
            </div>

            <div class="serv-box">
                <i class="fa-solid fa-camera"></i>
                <div calss="serv-text"> 
                   
                    <h3>Vorem amet intuitive </h3>
                   <p> Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit                         aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
                   </p>
                </div>
            </div>     
      </div>
    </div>
</div>
<!-- end services section-->


<!--start desigen section--> 
<div class="design-section">
    <div class="image">
        <img src="~/images/devices.png" />
    </div>
    <div class="text">
        <h3>Our Design Comes With ....</h3>
        <ul>
            <li> Responsive Design</li>
            <li> Modern And Clean  Design</li>
            <li> Clean Code</li>
            <li> Browser Friendly</li>

        </ul>
    </div>
</div>
<!--end desigen section-->    

<!--start   portfolio section-->
<div class="portfolio-section">
    <div class="container">
        <div class="main-heading">
            <h2>portfolio</h2>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit                         aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
            </p>
        </div>
    </div>
    <div>
        <ul class="shuffle"> 
            <li class="active">All</li>
            <li>app</li>
            <li>photo</li>
            <li>web</li>
            <li>print</li>

        </ul>
    </div>
    <div class="img-container"> 
        <div class="box">
            <img src="~/images/potfolio/3085981.jpg" />
            <div class="caption">
                <h4>Awesome Design</h4>
                <p>Photography </p>
            </div>
        </div>

        <div class="box">
            <img src="~/images/potfolio/3160679.jpg" />
            <div class="caption">
                <h4>Awesome Design</h4>
                <p>Photography </p>
            </div>
        </div>
        <div class="box">
            <img src="~/images/potfolio/istockphoto-1061329208-1024x1024.jpg" />
            
            <div class="caption">
                <h4>Awesome Design</h4>
                <p>Photography </p>
            </div>
        </div>
        <div class="box">
            <img src="~/images/potfolio/2891387.jpg" />
            <div class="caption">
                <h4>Awesome Design</h4>
                <p>Photography </p>
            </div>
        </div>
        <div class="box">
            <img src="~/images/potfolio/shuffle-02.jpg" />
            <div class="caption">
                <h4>Awesome Design</h4>
                <p>Photography </p>
            </div>
        </div>
        <div class="box">
            <img src="~/images/potfolio/6853732.jpg" />
            <div class="caption">
                <h4>Awesome Design</h4>
                <p>Photography </p>
            </div>
        </div>
        <div class="box">
            <img src="~/images/potfolio/shuffle-06.jpg" />
            <div class="caption">
                <h4>Awesome Design</h4>
                <p>Photography </p>
            </div>
        </div>
        <div class="box">
            <img src="~/images/potfolio/shuffle-07.jpg" />
            <div class="caption">
                <h4>Awesome Design</h4>
                <p>Photography </p>
            </div>
        </div>

    </div>

    <div><a href="#" class="more"> More</a></div>
</div>
<!--end   portfolio section-->
<!--start  video section-->
<div class="video">
    <video  autoplay muted>
        <source src="~/images/awesome-video.mp4"   type="video/mp4"/>
    </video>
    <div class="text">
        <h3>SUPER AWESOME VIDEO HERE</h3>
        <p>Its All You Need</p>
        <button>see more</button>
    </div>
</div>
<!--end  video section-->

<!--start about section-->

<div class="about">
    <div class="container">
        <div class="main-heading">
                <h2>about us</h2>
                <p>
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit                             aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
                </p>
        </div>
        <div class="heading-img">
            <img src="~/images/about.png" />
        </div>
        
    </div>
    

</div>

<!--end about section-->
<!--start statistics section-->


<div class="statistics-section">
   <div class="container">
        <div class="box">
        <i class="fa-solid fa-mug-hot"></i>
        <h1>1.236</h1>
        <p>Coffee Drinks</p>
    </div>
        <div class="box">
        <i class="fa-solid fa-folder"></i>
        <h1>236</h1>
        <p>Completed Projects</p>
    </div>
        <div class="box">
        <i class="fa-solid fa-envelope"></i>
        <h1>1,743</h1>
        <p>Mail Sent</p>
    </div>
        <div class="box">
        <i class="fa-solid fa-trophy"></i>
        <h1>17</h1>
        <p> Awards Received</p>
    </div>
   </div>
</div>
<!--end statistics section-->
<!--start our skills-->

<div class="our-skills">
    <div class="container">
        <div class="testimonials ">
            <h3>TestMonials</h3>
            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                Mauris blandit aliquet elit, eget tincidunt.

            </p>

            <div class="content">
               
                <img src="~/images/testmonial/a2c7690e-ee45-4286-b04c-21c03bac2a9b.jpg" 
                          alt="personImg"/>
                <div class="text">
                   
                        
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                            Mauris blandit aliquet elit, eget tincidunt.


                    <p>
                        John Doe ,CEO
                    </p>


                </div>
            </div>
            
            <div class="content">
                <img src="~/images/testmonial/d937efbc-e8be-41dd-83ac-b40ecf96d110.jpg" 
             
                          alt="personImg"/>
                <div class="text">
                   
                        
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                            Mauris blandit aliquet elit, eget tincidunt.

                            <p>
                                John Doe ,CEO
                           </p>
                   
                </div>
            </div>
        </div>

        <div class="skills ">
            <h3>skills</h3>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                Mauris blandit aliquet elit, eget tincidunt.


            </p>
            <div class="prog-holding">
                 <h4>Adobe</h4>
                <div class="prog">
                    <span  style="width: 90%" data-progress="90%" ></span>
                </div>
           </div>
            <div class="prog-holding">
                <h4>Html &amp; CSS</h4>
                <div class="prog">
                    <span  style="width: 85%" data-progress="85%" ></span>
                </div>
            </div> 


            <div class="prog-holding">
            
                <h4>Bootstrap</h4>
                <div class="prog">
                    <span  style="width: 80%" data-progress="80%" ></span>
                </div>

            </div>
            <div class="prog-holding">
                <h4>ASP.Net</h4>
                <div class="prog">
                    <span  style="width: 90%" data-progress="90%" ></span>
                </div>
           

            </div>
        </div>
    </div>

</div>

<!--end our skills-->
<!--start Quote section-->
<div class="qoute">

    <div class="container">
        <q>
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Mauris blandit aliquet elit, eget tincidunt.
        </q>
        <span>Jone Doe</span>
    </div>
</div>
<!--end Quote sectoin -->


 <!--start pricing section-->

 <div class="pricing">
     <div class="container">
         <div class="main-heading">
             <h2>Pricing</h2>
             <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                Mauris blandit aliquet elit, eget tincidunt.
             </p>
             
         </div>
         <div class="pricing-boxes">
             <div class="box" >
               
                 <div class="head"><h5>basic</h5>
                 <span >19</span>
                 </div>

                 <ul>
                     <li>Feature NO 1</li>
                     <li>Extra Feature </li>
                    <li>Extra Feature NO 2</li>
                     <li>Feature</li>
                 </ul>
                 <div class="foot">
                     <a href="#">Buy Now</a>
                 </div>

             </div>
                
             
              <div class="box" >

                <div class="head">
                    <h5>PREMIUM</h5>
                 <span >29</span>
                 </div>

                 <ul>
                     <li>Feature NO 1</li>
                     <li>Extra Feature </li>
                    <li>Extra Feature NO 2</li>
                     <li>Feature</li>
                 </ul>
                 <div class="foot">
                     <a href="#">Buy Now</a>
                 </div>

             </div>

              <div class="box" >
               
                 <div class="head">
                     <h5>PRO</h5>
                 <span >39</span>
                 </div>

                 <ul>
                     <li>Feature NO 1</li>
                     <li>Extra Feature </li>
                    <li>Extra Feature NO 2</li>
                     <li>Feature</li>
                 </ul>
                 <div class="foot">
                     <a href="#">Buy Now</a>
                 </div>

             </div>


              <div class="box" >

                <div class="head">
                    <h5>PLATINUM</h5>
                 <span >49</span>
                 </div>

                 <ul>
                     <li>Feature NO 1</li>
                     <li>Extra Feature </li>
                    <li>Extra Feature NO 2</li>
                     <li>Feature</li>
                 </ul>
                 <div class="foot">
                     <a href="#">Buy Now</a>
                 </div>

             </div>
         </div>
        
         <p class="contact-text">
            Contact us if you have special request
         </p>
         <a href="#" class="contact-link">Contact Us</a>
     </div>
 </div>
 <!--end pricing section-->
 <!--start subscribe section-->
 <div class="subscribe">
     <div class="container">
         <form action="">
            <i class="fa-regular fa-envelope"></i>
             <input type="email" name="email" placeholder="Enter your email" />
             <input type="button" value="Subscribe" />
           
         </form>
        <p>
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Mauris blandit aliquet elit, eget tincidunt.
        </p>
     </div>

 </div>
 <!--end subscribe section-->


 <!--start contactus section-->
 <div class="contactus">
      <div class="container">
         <div class="main-heading">
             <h2>contact us</h2>
             <p>
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                Mauris blandit aliquet elit, eget tincidunt.
             </p>
             
         </div>
         <div class="content">
             <from action="">

                 <input type="text" class="main-input"  placeholder="Your Name" name="name"/>
                 <input type="email"  class="main-input" name="mail" placeholder="Your email"/>
                 <textarea   name="message" class="main-input"  placeholder="Your Messege"></textarea>  
                 <input type="submit" value="send message" />
                  </from>

             <div class="info">
                 <h4>Get in touch</h4>
                 <span class="phone">
                    +00 123.456.789
                 </span>

                <span class="phone">   +00 123.456.789 </span>
                
                <h4>WHERE WE ARE</h4>
                 <address >Awesome Address 17<br />
                   New York, NYC<br />
                   123-4567-890<br />
                    USA <br />
                 </address>
             </div>

         </div>
      </div>
 </div>
 <!--end contactussection-->









 <!--end contactUs section-->